//
// .item
// --------------------------------------------------
$item-bg-color: #fff;

//
// .item__price
// --------------------------------------------------
$item-price-color: rgb(46, 204, 113);

//
// .item__sell__input
// --------------------------------------------------
$item-sell-input-color: rgb(51, 51, 51);
$item-sell-input-border-color: rgb(178, 190, 195);

//
// .item__sell__button
// --------------------------------------------------
$item-sell-button-bg-color: rgb(5, 196, 107);
$item-sell-button-danger-bg-color: rgb(245, 59, 87);
$item-sell-button-disabled-color: rgb(51, 51, 51);
$item-sell-button-disabled-bg-color: rgb(241, 242, 246);
.item {
  max-width: 100%;
  background-color: $item-bg-color;
  text-align: center;
  font-size: 18px;
  padding: 20px 15px;
  .item__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
    object-fit: contain;
    padding: 15px 10px 10px;
  }
  .item__title {
    font-size: 22px;
    font-weight: bold;
  }
  .item__price {
    font-size: 20px;
    color: $item-price-color;
  }
  .item__sell {
    font-size: 20px;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 25px;
    gap: 10px;
    .item__sell__input {
      max-width: 100px;
      text-align: center;
      font-size: 16px;
      color: $item-sell-input-color;
      font-family: Roboto, sans-serif;
      -webkit-appearance: none;
      padding: 9px 12px;
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      border-color: $item-sell-input-border-color;
      border-image: initial;
    }
    .item__sell__button {
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      background-color: $item-sell-button-bg-color;
      color: white;
      font-weight: bold;
      user-select: none;
      touch-action: manipulation;
      padding: 9px 12px;
      border-radius: 3px;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
    }
    .item__sell__button--danger {
      background-color: $item-sell-button-danger-bg-color;
    }
    .item__sell__button--disabled {
      color: $item-sell-button-disabled-color;
      cursor: auto;
      background-color: $item-sell-button-disabled-bg-color;
    }
  }
}

@media (max-width: 600px) {
  .item__sell__input {
    max-width: 125px !important;
  }
}
