.items {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}